:root {
    --animation-delay-1: 1s;
    --animation-delay-2: 1.5s;
    --animation-delay-3: 2ms;
    
    --blur-1: 1px;
    --blur-2: 2px;
    --blur-3: 4px;
}

body{
    background: repeating-radial-gradient(circle, #DBF0F5, #B6EEFD);
    overflow: hidden;
}

h1 {
    font-size: 120px;
    color:#eff6f8e6;
    text-shadow: 4px 8px 4px #78abb9,
     -1px -1px #f9f9f9,
     1px 1px #f9f9f9; 
     
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;
}

.container{
    position: absolute;
    border-radius: 16%;
    background: linear-gradient(to bottom, #e8faff80, #b8edfa73);
    box-shadow:
        inset -1px -1px 0px #e4faff,
        inset 1px 1px 0px #ffffff99;
    animation-name: animation;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#container-1{
    height: 220px;
    width: 220px;
    position: absolute;
    left: 80%;
    top: 80%;
    animation-delay: var(--animation-delay-1);
    filter: blur(var(--blur-3));
}

#container-2{
    
    height: 120px;
    width: 120px;
    position: absolute;
    left: 55%;
    top: 84%;
    animation-delay: var(--animation-delay-1);
    filter: blur(var(--blur-1));
}

#container-3{
    height: 180px;
    width: 180px;
    position: absolute;
    left: 10%;
    top: 80%;
    filter: blur(var(--blur-2));
}

#container-4{
    height: 160px;
    width: 160px;
    position: absolute;
    left: 70%;
    top: 78%;
    filter: blur(var(--blur-2));
}

#container-5{
    height: 140px;
    width: 140px;
    position: absolute;
    left: 20%;
    top: 88%;
    animation-delay: var(--animation-delay-2);
    filter: blur(var(--blur-1));
}

#container-6{
    height: 280px;
    width: 280px;
    position: absolute;
    left: 35%;
    top: 80%;
    animation-delay: var(--animation-delay-3);
    filter: blur(var(--blur-3));
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #DA91FC4D, #C6EAFF99);
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.5s ease; 
    z-index: 1;
}

.container:hover::before{
    opacity: 1;
}

@keyframes animation{
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        top: 0%;
        transform: translateY(50px) rotate(360deg);
        border-radius: 50%;
    }
    100% {
        transform: translateY(0px) rotate(720deg);
    }
}